*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 25px;
    height: 40px;
    border-radius: 50%;
    background: rgb(194, 194, 194);
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
}
a{
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    border-radius: 15px;
}
a:hover{
    background: whitesmoke;
    color: black;
    transition: 1.5s;
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    list-style: none;
}
.header ul li{
    margin-right: 30px;
}
.About .information{
    float: right;
    margin-top: 200px;
    right: 50px;
    position: relative;
    color: white;
    animation: info 2s forwards;
}
.About .information span{
    font-size: 45px;
}
@keyframes info{
    0%{right: 0px;}
    100%{right: 200px;}
}
.About img{
    margin-top: 200px;
    margin-left: 50px;
    position: relative;
    animation: img 2s forwards;
}
@keyframes img{
    0%{left: 0px;}
    100%{left: 300px;}
}
.certifications center h1{
    color: white;
    font-size: 60px;
}
.certifications .CS .CS {
    margin-left: 50px;
}
.certifications .CS .h1 {
    margin-left: 850px;
    position: absolute;
    top: 1350px;
    font-size: 55px;
    color: white;
}
.certifications .CEH  .CEH{
    margin-left: 50px;
    width: 680px;
    height: 480px;
}
.certifications .CEH .h2 {
    margin-left: 850px;
    position: absolute;
    top: 2050px;
    font-size: 55px;
    color: white;
}
.certifications .PH  .PH{
    margin-left: 50px;
    width: 680px;
    height: 480px;
}
.certifications .PH .h3 {
    margin-left: 850px;
    position: absolute;
    top: 2750px;
    font-size: 55px;
    color: white;
}
.certifications .ACP  .ACP{
    margin-left: 50px;
    width: 680px;
    height: 480px;
}
.certifications .ACP .h4 {
    margin-left: 850px;
    position: absolute;
    top: 3400px;
    font-size: 55px;
    color: white;
}
.contact center h1{
    color: white;
    font-size: 60px;
}
.contact .con-body{
    background-color: rgba(73, 73, 73, 0.952);
    width: 575px;
    height: 375px;
    border-radius: 15px;
    margin-left: 395px;
    padding:  35px 10px 10px 10px ;
}
.input-group{
    margin-bottom: 30px;
}
.contact .con-body input, textarea{
   width: 450px;
   padding: 10px;
   outline: 0;
   background: transparent;
   border: 1px solid #fff;
   color: white;
}
.contact .con-body textarea{
    height: 100px;
}
.contact .con-body button{
    width: 450px;
    background: transparent;
    border: 1px solid #fff;
    color: white;
    height: 30px;
}
.no:hover{
    background-color: rgb(17, 17, 17);
    color: white;
    cursor: pointer;
}
.C-R{
    margin-top: 50px;
    text-align: center;
    color: white;
}
.header{
    animation: nav 3s forwards;
}
@keyframes nav{
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}